

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.navbar-inverse {
    background-color: #5BC0DE;
    border-color: #5BC0DE;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}














