<div id="access-container" class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form id="access-form" style="margin-top:100px;" novalidate>
              <div class="form-group">                    
                <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" autocomplete="off">
                <p class="input-error text-danger"></p>
              </div>
              <div class="form-group">                    
                <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                <p class="input-error text-danger"></p>
              </div>                  
              <button type="submit" class="btn btn-info">Acceder</button>
              <p id="form-text" class="form-text text-success"></p>
            </form>
        </div>
    </div>
</div>